.book-card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 8px;
    padding: 4px;
    align-self: center;
    max-width: 500px;
}

.cover-img{
    max-width: 500px;
}